/* Let's style this baby */

:root {
    --clr--base: #C7E7FA;
    --clr--letters: #2C2C2C;
    --clr--container: #ffffff80;
} 

body {
    background-color: var(--clr--base);
    color: var(--clr--letters);
}
.flags {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    position: relative;
    float: right;
    padding: 5px;
    margin-right: 10px;
    margin-top: -25px;
    background-color: var(--clr--container);  
    
} 
.flag {
    width: 25px;
}

.portrait {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 30%;

    max-width: 12em;
    height: auto;  

    margin-bottom: 10px;
    padding-bottom: 10px;
}

.introcontainer {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--clr--container);
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;

    max-width: 55em;
}

.introduction {
    padding: 4px;
    text-align: justify;
    line-height: 25px;
    
}
