/* Let's style this baby */

:root {
    --clr--base: #C7E7FA;
    --clr--letters: #2C2C2C;
    --clr--container: #ffffff80;
    --clr--border: #797979;
} 

body {
    background-color: var(--clr--base);
    color: var(--clr--letters);
}
.navbar{
    background-color: var(--clr--container);
    padding: 3px 100%;    
    top: 0;
} 

.flags {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    position: relative; 
    float: right;
    margin-right: 10px;
    margin-top: -16px; 
    background-color: var(--clr--container);  
    
}  

.flag {
    width: 25px;
}
.flag:hover {
    width: 27px;
    border: 1px solid var(--clr--border);
    box-shadow: 5px 5px 8px var(--clr--border);
}

.portrait {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 30%;

    max-width: 12em;
    height: auto;  

    margin-bottom: 20px;
    box-shadow: 5px 5px 8px var(--clr--border);
}

.portraitsmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 20px;
    padding-top: 15px;
    width: 70%;

    /* box-shadow: 5px 5px 8px var(--clr--border); */
}

.introcontainer {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--clr--container);
    box-shadow: 5px 5px 8px var(--clr--border);
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;

    max-width: 55em;
    
}

.introduction {
    padding: 4px;
    text-align: justify;
    line-height: 25px;
    
}
